@model List<Publication>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body>
    <div class="container mt-5">
        <!-- User's Posts -->
        <div class="row mt-5">
            @if (Model.Count == 0)
            {
                <p>Публикации еще не добавлены</p>
            }
            else
            {
                foreach (var post in Model)
                {
                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="@post.User.Avatar" alt="User Avatar" class="rounded-circle" style="width: 50px; height: 50px;">
                                    <h5 class="ml-3">@post.User.NickName</h5>
                                </div>
                                <img src="@post.Avatar" alt="Post" class="img-fluid">
                                <p class="mt-2">@post.Description</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p> 
                                            <a asp-action="CreateComment" asp-controller="Publication" asp-route-postId="@post.Id">Комментарии:</a>
                                            <span id="commentCount">@post.Comments.Count.ToString()</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <a href="#" class="like-button" data-postid="@post.Id">Likes:</a> 
                                            <span id="like-count-@post.Id">@post.Likes.Count</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</body>
